<html>
  <head>
        <script language="Javascript">
          function swapConfig(x) {
          var radioName = document.getElementsByName(x.name);
          for(i = 0 ; i < radioName.length; i++){
           document.getElementById(radioName[i].id.concat("Query")).style.display="none";
          }
          document.getElementById(x.id.concat("Query")).style.display="initial";
          }
        </script>
  </head>

  <div>
    <fieldset>
      <legend>Create query</legend>
        <p>
          <label for="simple">Simple Query</label>
          <input type="radio" onchange="swapConfig(this)" name="createQuery" id="simple" checked="checked" />
          <label for="complex">Complex Query</label>
          <input type="radio" onchange="swapConfig(this)" name="createQuery" id="complex" />
        </p>
        <div id="simpleQuery">
          <%= form_for(@query) do |q| %>
            <%= q.label "Name of the query" %>
            <%= q.text_area :name %>
            <h3>ALL group</h3>
              <p>
               <%= fields_for(@term_for_query) do |t| %>
                 <div>
                   <%= t.label "ALL - All of these categories will be in the result" %> <br />
                   <%= collection_select(:and_categories, :id, @all_categories, :id, :name, {}, {:multiple => true}) %>
                 </div>
               <% end %>
              </p>

              <h3>OR group</h3>
              <p>
               <%= fields_for(@term_for_query) do |t| %>
                 <div>
                   <%= t.label "ANY - At least one of these categories will be in the result" %> <br />
                   <%= collection_select(:or_categories, :id, @all_categories, :id, :name, {}, {:multiple => true}) %>
                 </div>
               <% end %>
              </p>

              <h3>NOT group</h3>
              <p>
               <%= fields_for(@term_for_query) do |t| %>
                 <div>
                   <%= t.label "NONE - None of these categories will be in the result" %> <br />
                   <%= collection_select(:not_categories, :id, @all_categories, :id, :name, {}, {:multiple => true}) %>
                 </div>
               <% end %>
              </p>
              <%= q.submit "Create"%>
            <% end %>
        </div>
        <div id="complexQuery" style="display:none">
          <%= form_for(@query) do |q| %>
            <%= q.label "Name of the query" %>
            <%= q.text_area :name %>
            <%= q.label "Text of the query" %>
            <%= q.text_area :text_of_query %>
            <%= q.submit "Create"%>
          <% end %>
        </div>
    </fieldset>
  </div>
</html>
