<div>
  <h1><%= @query.name %> </h1>
  <p><%= @type_of_query %></p>
  <% if @type_of_query == "simple" %>
   <div>
     <h3>ALL<h3>
      <p>All of these categories will be in the result</p>
      <p>
        <% @and_terms.each do |at| %>
        <h4><%=at.category.name %></h4>
        <% end %>
      </p>
   </div>
   <div>
     <h3>ANY<h3>
      <p>At least one of these categories will be in the result</p>
      <p>
        <% @or_terms.each do |ot| %>
        <h4><%=ot.category.name %></h4>
        <% end %>
      </p>
   </div>
   <div>
     <h3>NONE<h3>
      <p>None of these categories will be in the result</p>
      <p>
        <% @none_terms.each do |nt| %>
        <h4><%=nt.category.name %></h4>
        <% end %>
      </p>
   </div>
  <% else %>
   <h3>Complex query</h3>
   <p><%= @query.text_of_query %></p>
  <% end %>

</div>
