<div>
  <h1><%= @query.name %> </h1>
  <p><%= @type_of_query %></p>
  <p><%= @query.categories_for_complex_query %></p>
  <% if @type_of_query == "simple" %>
   <div>
     <h3>ALL - All of these categories will be in the result<h3>
      <p>
        <% @and_terms.each do |at| %>
        <h4><%=at.category.name %></h4>
        <% end %>
      </p>
   </div>
   <div>
     <h3>ANY - At least one of these categories will be in the result<h3>
      <p>
        <% @or_terms.each do |ot| %>
        <h4><%=ot.category.name %></h4>
        <% end %>
      </p>
   </div>
   <div>
     <h3>NONE - None of these categories will be in the result<h3>
      <p>
        <% @none_terms.each do |nt| %>
        <h4><%=nt.category.name %></h4>
        <% end %>
      </p>
   </div>
   <h2>Expanded text of the query</h2>
   <p><%= @query.expanded_query_linkedin %></p>
  <% else %>
   <h3>Complex query</h3>
   <p><%= @query.text_of_query %></p>
   <p>
     <% @terms.each do |ot| %>
     <h4><%=ot.category.name %></h4>
     <% end %>
   </p>
   <h2>Expanded text of the query</h2>
   <p><%= @query.expanded_query_linkedin %></p>
  <% end %>
  <%= link_to "Edit", edit_query_path(@query) %>

</div>
