<!DOCTYPE html>
<html>
  <head>
    <title>Talent Searching App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar nav-stacked navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Query Builder",   '/queries' %></li>
            <li><%= link_to "Categories",   '/categories' %></li>
            <li><%= link_to "Languages", '/languages' %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
